class Rotation {
type = "rotation";
memory = 1;
minValue = 0;
maxValue = 1;
angle0 = 0;
angle1 = 1;
};


class CfgSkeletons {
	class Default
	{
		isDiscrete = 1;
		skeletonInherit = "";
		skeletonBones[] = {};
	};
	class boxloader_ammo_west_skeleton: Default {
		skeletonInherit = "Default";
		skeletonBones[] = {
			"Sign",""
		};
	};
	class Vehicle: Default {};
	
	class Car: Vehicle {
		
		skeletonBones[]=
		{
			"drivewheel","",

			"wheel_1_1_damper_land","",
			"wheel_1_2_damper_land","",
			"wheel_1_3_damper_land","",
			"wheel_1_4_damper_land","",

			"wheel_2_1_damper_land","",
			"wheel_2_2_damper_land","",
			"wheel_2_3_damper_land","", 
			"wheel_2_4_damper_land","",

			"wheel_1_1_damper","wheel_1_1_damper_land",
			"wheel_1_2_damper","wheel_1_2_damper_land",
			"wheel_1_3_damper","wheel_1_3_damper_land",
			"wheel_1_4_damper","wheel_1_4_damper_land",

			"wheel_2_1_damper","wheel_2_1_damper_land",
			"wheel_2_2_damper","wheel_2_2_damper_land",
			"wheel_2_3_damper","wheel_2_3_damper_land",
			"wheel_2_4_damper","wheel_2_4_damper_land",

			"wheel_1_1_steering","wheel_1_1_damper",
			"wheel_1_2_steering","wheel_1_2_damper",
			"wheel_1_3_steering","wheel_1_3_damper",
			"wheel_1_4_steering","wheel_1_4_damper",

			"wheel_2_1_steering","wheel_2_1_damper",
			"wheel_2_2_steering","wheel_2_2_damper",
			"wheel_2_3_steering","wheel_2_3_damper",
			"wheel_2_4_steering","wheel_2_4_damper",

			"wheel_1_1","wheel_1_1_steering",
			"wheel_1_2","wheel_1_2_steering",
			"wheel_1_3","wheel_1_3_steering",
			"wheel_1_4","wheel_1_4_steering",

			"wheel_2_1","wheel_2_1_steering",
			"wheel_2_2","wheel_2_2_steering",
			"wheel_2_3","wheel_2_3_steering",
			"wheel_2_4","wheel_2_4_steering",

			"wheel_1_1_unhide","wheel_1_1",
			"wheel_1_2_unhide","wheel_1_2",
			"wheel_1_3_unhide","wheel_1_3",
			"wheel_1_4_unhide","wheel_1_4",

			"wheel_2_1_unhide","wheel_2_1",
			"wheel_2_2_unhide","wheel_2_2",
			"wheel_2_3_unhide","wheel_2_3",
			"wheel_2_4_unhide","wheel_2_4",

			"wheel_1_1_hide","wheel_1_1",
			"wheel_1_2_hide","wheel_1_2",
			"wheel_1_3_hide","wheel_1_3",
			"wheel_1_4_hide","wheel_1_4",

			"wheel_2_1_hide","wheel_2_1",
			"wheel_2_2_hide","wheel_2_2",
			"wheel_2_3_hide","wheel_2_3",
			"wheel_2_4_hide","wheel_2_4",

			"OtocVez","",
			"OtocHlaven","OtocVez",

			"damageHide","",
			"damageVez","OtocVez",
			"damageHlaven","OtocHlaven",
			"Light_R","",
			"Light_L","",

			"ukaz_rychlo","",
			"ukaz_rychlo2","",
			"ukaz_rpm","",
			"mph","",
			"rpm","",
			"fuel","",
			"fuel_1","",
			"fuel_01","",
			"fuel_2","",
			"fuel_3","",
			"prop_01","",
			"prop_02","",
			"prop_2","",
			"prop_1","",
			"glass1","damageHide",
			"glass2","damageHide",
			"glass3","damageHide",
			"glass4","damageHide"
		};
	};
	class boxloader_skid_skeleton: Car {
		skeletonInherit = "Car";
		skeletonBones[] = {
			"tool_bucket","",
			"tool_fork",""
		};
	};
};
class CfgModels {
	class Default
	{
		sectionsInherit = "";
		sections[] = {};
		skeletonName = "";
	};
	class boxloader_ammo_west: Default {
		sectionsInherit="";
		skeletonName = "boxloader_ammo_west_skeleton";
		sections[] = {
			"Sign"
		};
		class Animations {
			class Sign_Hide {
				type = "hide";
				source = "Sign_Hide";
				selection = "Sign";
				minValue = 0;
				maxValue = 1;
				hideValue = 0.5;
			};
		};
	};
	class Vehicle
	{
		sections[]={};
		sectionsInherit="";
		skeletonName="";
		
	};
	class Car: Vehicle
	{
		sectionsInherit="Vehicle";
		sections[]=
		{	
			"ammo",
			"sklo predni p",
			"sklo predni l",
			"zadni svetlo",
			"brzdove svetlo",
			"spz",
			"karoserie",
			"motor",
			"zbran",
			"vez",
			"zbytek",
			"clan",
			"clan_sign",
			"zasleh",
			"P svetlo",
			"L svetlo",
			"Light_R",
			"Light_L",
			"palivo",
			"glass1",
			"glass2",
			"glass3",
			"glass4"
		};
		skeletonName="Car";
		
		class Animations
		{

		class damageHide
		{
			type="hide";
			source="damage";
			selection="damageHide";
			hideValue=1.0;
		};

		class damageHideVez:damageHide
		{
			selection="OtocVez";
		};
		class damageHideHlaven:damageHide
		{
			selection="OtocHlaven";
		};

		class wheel_1_1_destruct
		{
			type="hide";
			selection="wheel_1_1_hide";
			source="HitLFWheel";
			minValue = 0; 
			maxValue = 1;
			hidevalue = 0.99;
		};
		class wheel_1_2_destruct:wheel_1_1_destruct {source="HitLBWheel";selection="wheel_1_2_hide";};
		class wheel_1_3_destruct:wheel_1_1_destruct {source="HitLMWheel";selection="wheel_1_3_hide";};
		class wheel_1_4_destruct:wheel_1_1_destruct {source="HitLF2Wheel";selection="wheel_1_4_hide";};

		class wheel_2_1_destruct:wheel_1_1_destruct {source="HitRFWheel";selection="wheel_2_1_hide";};
		class wheel_2_2_destruct:wheel_1_1_destruct {source="HitRBWheel";selection="wheel_2_2_hide";};
		class wheel_2_3_destruct:wheel_1_1_destruct {source="HitRMWheel";selection="wheel_2_3_hide";};
		class wheel_2_4_destruct:wheel_1_1_destruct {source="HitRF2Wheel";selection="wheel_2_4_hide";};

		class wheel_1_1_destruct_unhide
		{
			type="hide";
			selection="wheel_1_1_unhide";
			source="HitLFWheel";
			minValue = -1;
			maxValue = 0; 
			hidevalue = 0.01;
			sourceAddress="mirror";
		};
		class wheel_1_2_destruct_unhide:wheel_1_1_destruct_unhide {source="HitLBWheel";selection="wheel_1_2_unhide";};
		class wheel_1_3_destruct_unhide:wheel_1_1_destruct_unhide {source="HitLMWheel";selection="wheel_1_3_unhide";};
		class wheel_1_4_destruct_unhide:wheel_1_1_destruct_unhide {source="HitLF2Wheel";selection="wheel_1_4_unhide";};

		class wheel_2_1_destruct_unhide:wheel_1_1_destruct_unhide {source="HitRFWheel";selection="wheel_2_1_unhide";};
		class wheel_2_2_destruct_unhide:wheel_1_1_destruct_unhide {source="HitRBWheel";selection="wheel_2_2_unhide";};
		class wheel_2_3_destruct_unhide:wheel_1_1_destruct_unhide {source="HitRMWheel";selection="wheel_2_3_unhide";};
		class wheel_2_4_destruct_unhide:wheel_1_1_destruct_unhide {source="HitRF2Wheel";selection="wheel_2_4_unhide";};

		#define DamageOffset 0.2

		class wheel_1_1_Damage:wheel_1_1_destruct
			{
			type="translation";
			axis="Basic_Damper_Destruct_Axis";
			memory=1;
			selection="wheel_1_1_damper_land";
			source="HitLFWheel";
			minValue = 0.0;
			maxValue = 1;
			offset0 = 0;
			offset1 = DamageOffset;
			};
			
			class wheel_1_2_Damage:wheel_1_1_Damage {source="HitLBWheel";selection="wheel_1_2_damper_land";};
			class wheel_1_3_Damage:wheel_1_1_Damage {source="HitLMWheel";selection="wheel_1_3_damper_land";};
			class wheel_1_4_Damage:wheel_1_1_Damage {source="HitLF2Wheel";selection="wheel_1_4_damper_land";};

			class wheel_2_1_Damage:wheel_1_1_Damage {source="HitRFWheel";selection="wheel_2_1_damper_land";};
			class wheel_2_2_Damage:wheel_1_1_Damage {source="HitRBWheel";selection="wheel_2_2_damper_land";};
			class wheel_2_3_Damage:wheel_1_1_Damage {source="HitRMWheel";selection="wheel_2_3_damper_land";};
			class wheel_2_4_Damage:wheel_1_1_Damage {source="HitRF2Wheel";selection="wheel_2_4_damper_land";};



			class wheel_1_1_Damper_Damage_BackAnim:wheel_1_1_Damage {selection="wheel_1_1_damper";offset1 = -1*DamageOffset;};
			class wheel_1_2_Damper_Damage_BackAnim:wheel_1_1_Damper_Damage_BackAnim {source="HitLBWheel";selection="wheel_1_2_damper";};
			class wheel_1_3_Damper_Damage_BackAnim:wheel_1_1_Damper_Damage_BackAnim {source="HitLMWheel";selection="wheel_1_3_damper";};
			class wheel_1_4_Damper_Damage_BackAnim:wheel_1_1_Damper_Damage_BackAnim {source="HitLF2Wheel";selection="wheel_1_4_damper";};

			class wheel_2_1_Damper_Damage_BackAnim:wheel_1_1_Damper_Damage_BackAnim {source="HitRFWheel";selection="wheel_2_1_damper";};
			class wheel_2_2_Damper_Damage_BackAnim:wheel_1_1_Damper_Damage_BackAnim {source="HitRBWheel";selection="wheel_2_2_damper";};
			class wheel_2_3_Damper_Damage_BackAnim:wheel_1_1_Damper_Damage_BackAnim {source="HitRMWheel";selection="wheel_2_3_damper";};
			class wheel_2_4_Damper_Damage_BackAnim:wheel_1_1_Damper_Damage_BackAnim {source="HitRF2Wheel";selection="wheel_2_4_damper";};

				
			class Glass1_destruct
			{
			type="hide";
			selection="glass1";
			source="HitGlass1";
			minValue = 0; 
			maxValue = 1; 
			hidevalue = 0.99;
			};
			class Glass2_destruct:Glass1_destruct{selection="glass2";source="HitGlass2";};
			class Glass3_destruct:Glass1_destruct{selection="glass3";source="HitGlass3";};
			class Glass4_destruct:Glass1_destruct{selection="glass4";source="HitGlass4";};

				
		class Fuel: Rotation
		{
			source="fuel";
			selection="fuel";
			axis="fuel_axis";
			maxValue=1;
			memory=1;
			angle0="rad -110";
			angle1=0;
		};
		class IndicatorSpeed: Rotation
		{
			source="speed";
			selection="mph";
			axis="mph_axis";
			memory=1;
			maxValue=38.900002;
			angle1="rad -265";
		};
		class IndicatorFuel: Rotation
		{
			type="rotation";
			source="fuel";
			selection="fuel_1";
			axis="fuel_1_axis";
			memory=1;
			minValue=0.000000;
			maxValue=1.000000;
			angle0=-0.087266;
			angle1=-1.658063;
		};
		class IndicatorRPM: Rotation
		{
			source="rpm";
			selection="rpm";
			axis="rpm_axis";
			memory=1;
			angle1="rad 80";
		};
		
			class DrivingWheel: Rotation
			{
				source="drivingWheel";
				selection="drivewheel";
				axis="drivewheel_axis";
				minValue=-1;
				maxValue=1;
				angle0=(rad -80);
				angle1=(rad 80);
			};
			class wheel_1_1_pad
			{
				type="rotationY";
				source="drivingWheel";
				memory = 1;
				animPeriod = 0;
				selection="wheel_1_1_pad";
				axis="wheel_1_1_steering_axis";
				minValue="rad -180";
				maxValue="rad +180";
				angle0="rad +45";
				angle1="rad -45";
			};
			class wheel_2_1_pad
			{
				type="rotationY";
				source="drivingWheel";
				memory = 1;
				animPeriod = 0;
				selection="wheel_2_1_pad";
				axis="wheel_2_1_steering_axis";
				minValue="rad -180";
				maxValue="rad +180";
				angle0="rad +45";
				angle1="rad -45";
			};
			class TurnFrontWheelR
			{
				type="rotationY";
				source="drivingWheel";
				memory = 1;
				animPeriod = 0;
				selection="wheel_2_1_steering";
				axis="wheel_2_1_steering_axis";
				minValue="rad -180";
				maxValue="rad +180";
				angle0="rad +45";
				angle1="rad -45";
			};
			class TurnFrontWheelL: TurnFrontWheelR
			{
				selection="wheel_1_1_steering";
				axis="wheel_1_1_steering_axis";
			};
			class TurnFrontWheelR2: TurnFrontWheelL
			{
				selection="posun wheel_1_1";
			};
			class TurnFrontWheelL2: TurnFrontWheelR
			{
				selection="posun wheel_2_1";
			};
			class wheel_1_1
			{
				type="rotationX";
				source="wheel";
				memory = 1;//by default
				animPeriod = 0;//Unknown
				selection="wheel_1_1";
				axis="wheel_1_1_axis";
				minValue = 0.0;
				maxValue = 1.0;
				minPhase = 0.0;
				maxPhase = 1.0;
				angle0 = 0;
				angle1 = "rad -360";
			};
			class wheel_1_2: wheel_1_1
			{
				selection="wheel_1_2";
				axis="wheel_1_2_axis";
			};
			class wheel_1_3: wheel_1_1
			{
				selection="wheel_1_3";
				axis="wheel_1_3_axis";
			};
			class wheel_1_4: wheel_1_1
			{
				selection="wheel_1_4";
				axis="wheel_1_4_axis";
			};
			class wheel_2_1: wheel_1_1
			{
				selection="wheel_2_1";
				axis="wheel_2_1_axis";
			};
			class wheel_2_2: wheel_1_1
			{
				selection="wheel_2_2";
				axis="wheel_2_2_axis";
			};
			class wheel_2_3: wheel_1_1
			{
				selection="wheel_2_3";
				axis="wheel_2_3_axis";
			};
			class wheel_2_4: wheel_1_1
			{
				selection="wheel_2_4";
				axis="wheel_2_4_axis";
			};
			class Wheel_1_1_Damper
			{
				type="translation";
				source="damper";
				selection="wheel_1_1_damper_land";
				axis="posun wheel_1_1";
				animPeriod = 1;
				minValue="0";
				maxValue="1";
				offset0= "0.5";
				offset1= "-0.25";
				memory=1;
			};
			class wheel_2_1_Damper: wheel_1_1_Damper
			{
				selection="wheel_2_1_damper_land";
				axis="posun wheel_2_1";
			};
			class wheel_1_2_Damper: wheel_1_1_Damper
			{
				selection="wheel_1_2_damper_land";
				axis="posun wheel_1_2";
			};
			class wheel_1_3_Damper: wheel_1_1_Damper
			{
				selection="wheel_1_3_damper_land";
				axis="posun wheel_1_3";
			};
			class wheel_1_4_Damper: wheel_1_1_Damper
			{
				selection="wheel_1_4_damper_land";
				axis="posun wheel_1_4";
			};
			class wheel_2_2_Damper: wheel_1_1_Damper
			{
				selection="wheel_2_2_damper_land";
				axis="posun wheel_2_2";
			};
			class wheel_2_3_Damper: wheel_1_1_Damper
			{
				selection="wheel_2_3_damper_land";
				axis="posun wheel_2_3";
			};
			class wheel_2_4_Damper: wheel_1_1_Damper
			{
				selection="wheel_2_4_damper_land";
				axis="posun wheel_2_4";
			};
			class damageVez: damageHide
			{
				selection="damageVez";
			};
			class damageHlaven: damageHide
			{
				selection="damageHlaven";
			};
		};
	};


	class boxloader_skidloader: car {
		skeletonName = "boxloader_skid_skeleton"
		class Animations: Animations {
			class Bucket_Hide {
				type = "hide";
				source = "Bucket_Hide";
				selection = "tool_bucket";
				minValue = 0;
				maxValue = 1;
				hideValue = 0.5;
			};
			class Fork_Unhide {
				type = "hide";
				source = "Bucket_Hide";
				selection = "tool_fork";
				minValue = 0;
				maxValue = 1;
				hideValue = 0;
				unhideValue = 0.5;
			};
		};
	};
};
		




